# Include the licence file
include LICENCE

# Include the data files
# include *.zip
# recursive-include dash/models *.pickle *.npz *.ckpt*

# Include Python files
include *.py *.ui
include README.md
