# Include the licence file
include LICENCE

# Include the data files
include dash/templates_v02.npz
include dash/training_params_v02.pickle
include dash/model_trainedAtZeroZ.ckpt
include dash/type_age_atRedshiftZero_v02.npz

# Include Python files
include *.py
include README.md
recursive-include dash *.py *.ui *.pickle *.npz *.ckpt

prune type_age_atRedshiftZero_v02.npz
prune model_trainedAtZeroZ.ckpt

