# Include the licence file
include LICENCE

# Include the data files
include dash/templates.npz
include dash/training_params.pickle
include dash/model_trainedAtZeroZ.ckpt
include dash/type_age_atRedshiftZero.npz

# Include Python files
include *.py
recursive-include dash *.py *.ui *.pickle *.npz *.ckpt

prune type_age_atRedshiftZero.npz
prune model_trainedAtZeroZ.ckpt

